{% extends 'base.html' %}
{% block extrahead %}
	<style >
	.wave {
	animation-name: wave-animation;  /* Refers to the name of your @keyframes element below */
	animation-duration: 2.5s;        /* Change to speed up or slow down */
	animation-iteration-count: infinite;  /* Never stop waving :) */
	transform-origin: 70% 70%;       /* Pivot around the bottom-left palm */
	display: inline-block;
  }
  
  @keyframes wave-animation {
	  0% { transform: rotate( 0.0deg) }
	 10% { transform: rotate(14.0deg) }  /* The following five values can be played with to make the waving more or less extreme */
	 20% { transform: rotate(-8.0deg) }
	 30% { transform: rotate(14.0deg) }
	 40% { transform: rotate(-4.0deg) }
	 50% { transform: rotate(10.0deg) }
	 60% { transform: rotate( 0.0deg) }  /* Reset for the last half to pause */
	100% { transform: rotate( 0.0deg) }
  }
	</style>
{% endblock %}
{% block content %}
<div class="container-fluid mx-2 mt-5">
	<div class="row  mb-5 border">
		<div class = "col col-md-6 banner" style ="background: linear-gradient(90deg, #FF55AB -16.41%, rgba(255, 5, 0, 0.7) 52.4%, rgba(255, 113, 1, 0.7) 117.04%);box-shadow: 20px 0px 40px rgba(24, 22, 22, 0.15);">
			<div style="margin-bottom:148px;margin-top:148px; margin-left:72px;background: url(.png), linear-gradient(124.97deg, rgba(255, 252, 252, 0.4) 1.63%, rgba(217, 217, 217, 0.05) 100%);
			background-blend-mode: overlay, normal;
			box-shadow: 0px 40px 80px rgba(17, 15, 15, 0.15), inset -10px -10px 15px rgba(0, 0, 0, 0.05), inset 10px 10px 15px rgba(255, 255, 255, 0.2);
			backdrop-filter: blur(15px);margin-right:72px;min-height:727px;
			padding-top:159px;
			/* Note: backdrop-filter has minimal browser support */
			border-radius: 25px;">
				<div style="margin-left:43px;margin-right:90px;;font-weight: 800;text-shadow: 0px 20px 40px rgba(61, 60, 60, 0.15);
				font-size: 96px;
				line-height: 116px;">
					<span class="text-light" >IT FEST 2023</span>
				</div>
				<div style="margin-left:43px;font-weight: 400;
				font-size: 30px;
				line-height: 36px;color: #F9F6F6;">
					<span class="text-light" >
					Inovasi TIK untuk pemberdayaan pembangunan berkelanjutan
					</span>
				</div>
			</div>
		</div>
		<div class = "col col-md-6">
			<div class="row">
				<div class="col">
					<img src="/static/image/logo.png" style="width:113px;">
				</div>
			</div>
			{% if form.errors %}
			<div class="alert alert-danger">
				{{ form.non_field_errors }}
				{% for message in messages %}
				<div class="alert {% if message.tags %}alert-{{ message.tags }}"{% endif %}>
					{{ message }}
				</div>
			{% endfor %}
					</div>
			{% endif %}
			<div class="row mb-5">
				<div class="col pl-4 pr-5">
					<form method="POST" novalidate>
						{% csrf_token %}
						<span class= "text-bold" style= "
						width: 279px;
						height: 69px;
						color:#2E2B2B;
						font-weight: 700;
						font-size: 57px;
						line-height: 69px;">
							Hey, Hello <span class="wave">👋</span>
						</span><br/>
						<span style= "
						width: 595px;
						height: 66px;
						font-weight: 400;
						font-size: 24px;
						line-height: 29px;
						color: #938F8F;"> Masukkan informasi yang Anda masukkan saat<br/>
						mereset password di bawah ini!</span>
						<div class="form-group pt-4" style : "">
							<label for="exampleInputEmail1" style= "font-weight: 500;
							font-size: 24px;
							line-height: 29px;">Email</label>
							<input name="email" type="email" class="form-control" id="exampleInputEmail1" value="{{ object.email }}" style = "box-sizing: border-box; 
							border: 1px solid #938F8F;
							border-radius: 25px;
							float: right;
							width: 100%;
							height: 89px;
							top: 37px;	
							font-weight: 300;
							font-size: 20px;
							line-height: 24px;" aria-describedby="emailHelp" placeholder="Masukkan Email Kamu">
							<small id="emailHelp" class="form-text text-muted pl-4">Gunakan email UB atau Gmail</small>
						  </div>
						  <input type="submit" value="Reset Password" class="btn btn-primary" style = "
						  	font-weight: 500;
						  	font-size: 32px;
						  	line-height: 39px;
						  	width: 100%;
							height: 89px;
							float: right;
							top: 353px;
						  	background: linear-gradient(90deg, #FF55AB -16.41%, rgba(255, 5, 0, 0.7) 52.4%, rgba(255, 113, 1, 0.7) 117.04%);
							box-shadow: 20px 0px 40px rgba(24, 22, 22, 0.15);
							border-radius: 25px;">
						  <a href="/" class="btn btn-primary" style = "margin-top:15px;float: right; width: 100%; min-height: 92px; top: 846px; background: #FF7101; border-radius: 25px; font-weight: 500;
						  font-size: 200%;
						  line-height: 44px;
						  color: #FFFFFF;
						  padding-top:20px;">Balik ke Halaman Utama</a>
					</form>		
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock content%}