<div id="update" class= ".artikel" >
    <div class="col">
        <div class ="row">
            <span class="mx-auto" style = "
            color: #2E2B2B;
            font-size: 70px;
            font-weight: 700;
            letter-spacing: 3.5px;
            ">Update</span>
        </div>
        <div class="row d-flex justify-content-center">
            <div
            style = "
            width: 300px;
            height: 0p  x;
            margin-top:20px;
            margin-bottom:40px;
            border: 3px solid #2E2B2B;">
            </div>
        </div>
        <div class ="row mb-5">
            <div class="row mx-auto">
            <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators text-dark">
                <li data-target="#carouselExampleIndicators3" data-slide-to="0" class="active" aria-current="true" aria-label="First Slide"></li>
                <li data-target="#carouselExampleIndicators3" data-slide-to="1" aria-label="Second Slide"></li>
                <li data-target="#carouselExampleIndicators3" data-slide-to="2" aria-label="Third Slide"></li>
              </ol>
            <div class="carousel-inner2 mx-auto rounded">
        
            <div class="carousel-item active">
              <div class="row p-3">
                
                <div class="col mb-3">
                   <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-1 ml-3 bg-body rounded d-block" >
                      <div class="d-flex justify-content-between p-3">
                        <p class="lead mb-0">Our Logo</p>
                      </div>
                      <a href="https://www.instagram.com/p/CtO7mH0xEyg/?igshid=MzRlODBiNWFlZA==" target="blank">
                        <img src="static/image/Update/Our Logo.png"
                        class="card-img-top d-flex align-items-center" alt="First Slide" /></a>
                     <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <p class="small mx-auto"><a href="https://www.instagram.com/p/CsqqWV4hor3/?igshid=MzRlODBiNWFlZA==" 
                            target="blank" class="text-muted">Check out this post!</a></p>
                        </div>
                     </div>
                   </div>
               </div>

                    <div class="col mb-3">
                      <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-4 bg-body rounded d-block" >
                        <div class="d-flex justify-content-between p-3">
                          <p class="lead mb-0">What is IT Fest FILKOM?</p>
                        </div>
                        <a href="https://www.instagram.com/p/CtO7mH0xEyg/?igshid=MzRlODBiNWFlZA==" target="blank">
                          <img src="static/image/Update/Apa Itu ITFEST.png"
                          class="card-img-top d-flex align-items-center" alt="First Slide" /></a>
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <p class="small mx-auto"><a href="https://www.instagram.com/p/Cshm1fRS23I/?igshid=MzRlODBiNWFlZA==" 
                              target="blank" class="text-muted">Check out this post!</a></p>
                          </div>
                        </div>
                      </div>
                  </div>

              </div>
            </div>
          
            <div class="carousel-item">
              <div class="row p-3">
                
                <div class="col mb-3">
                   <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-1 ml-3 bg-body rounded d-block" >
                      <div class="d-flex justify-content-between p-3">
                        <p class="lead mb-0">Competition Category</p>
                      </div>
                      <a href="https://www.instagram.com/p/CtO7mH0xEyg/?igshid=MzRlODBiNWFlZA==" target="blank">
                        <img src="static/image/Update/Kompetisi.png"
                        class="card-img-top d-flex align-items-center" alt="First Slide" /></a>
                     <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <p class="small mx-auto"><a href="https://www.instagram.com/p/CsyCSkqRYYx/?igshid=MzRlODBiNWFlZA==" 
                            target="blank" class="text-muted">Check out this post!</a></p>
                        </div>
                     </div>
                   </div>
               </div>

                    <div class="col mb-3">
                      <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-4 bg-body rounded d-block" >
                        <div class="d-flex justify-content-between p-3">
                          <p class="lead mb-0">Our Theme</p>
                        </div>
                        <a href="https://www.instagram.com/p/CtO7mH0xEyg/?igshid=MzRlODBiNWFlZA==" target="blank">
                          <img src="static/image/Update/Tema.png"
                          class="card-img-top d-flex align-items-center" alt="First Slide" /></a>
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <p class="small mx-auto"><a href="https://www.instagram.com/p/CtDbZO7RcRW/?igshid=MzRlODBiNWFlZA==" 
                              target="blank" class="text-muted">Check out this post!</a></p>
                          </div>
                        </div>
                      </div>
                  </div>

              </div>
            </div>

            <div class="carousel-item">
              <div class="row p-3">
                
                <div class="col mb-3">
                   <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-1 ml-3 bg-body rounded d-block" >
                      <div class="d-flex justify-content-between p-3">
                        <p class="lead mb-0">Updated Timeline!</p>
                      </div>
                      <a href="https://www.instagram.com/p/CtO7mH0xEyg/?igshid=MzRlODBiNWFlZA==" target="blank">
                        <img src="static/image/Update/Timeline.png"
                        class="card-img-top d-flex align-items-center" alt="Timeline" /></a>
                     <div class="card-body">
                        <div class="d-flex justify-content-between">
                          <p class="small mx-auto"><a href="https://www.instagram.com/p/CtO7mH0xEyg/?igshid=MzRlODBiNWFlZA==" 
                            target="blank" class="text-muted">Check out this post!</a></p>
                        </div>
                     </div>
                   </div>
               </div>

                    <div class="col mb-3">
                      <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-4 bg-body rounded d-block" >
                        <div class="d-flex justify-content-between p-3">
                          <p class="lead mb-0">Official Poster!</p>
                        </div>
                        <a href="https://www.instagram.com/p/CtO7mH0xEyg/?igshid=MzRlODBiNWFlZA==" target="blank">
                          <img src="static/image/Update/Poster.png"
                          class="card-img-top d-flex align-items-center" alt="Poster" /></a>
                        <div class="card-body">
                          <div class="d-flex justify-content-between">
                            <p class="small mx-auto"><a href="https://www.instagram.com/p/CtdNT-ox6nb/?igshid=MzRlODBiNWFlZA==" 
                              target="blank" class="text-muted">Check out this post!</a></p>
                          </div>
                        </div>
                      </div>
                  </div>

              </div>
            </div>

          
              <a class="carousel-control-prev text-dark" role="button" data-target="#carouselExampleIndicators3"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-dark" role="button" data-target="#carouselExampleIndicators3"
                data-slide="next">
                <span class="carousel-control-next-icon dark" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          </div>
    </div>
</div>