<div id="berita" class=".banner3" style="background-image: url('/static/image/Group 22 1.png');no-repeat center;">
    <div class="col">
        <div class="row d-flex justify-content-center mb-3">
            <button type="button" style = "
            width: 900px;
            height: 86px;
            margin-bottom:32px;
            background: #EE3F3C;
            box-shadow: 0px 10px 20px rgba(61, 60, 60, 0.2);
            border-radius: 15px;" href=''>
            <a href="/static/GUIDEBOOK BISNIS.pdf" download="GuidebookIdeBisnisTIK-ITFEST">
                <div class="col mt-2" align="center">
                    <img style="width: 50px;
                    height: 50px;
                    left: 389px;
                    margin-bottom:15px;
                    top: 15px;!important;" src="/static/image/prime_file-pdf.png" width="10px">
                    <span style = "
                    width: 470px;
                    height: 34px;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 70px;
                    color: #F9F5F5;">Guidebook Lomba Ide Bisnis TIK</span>
                </div>
            </a>
        </div>
        <div class="row d-flex justify-content-center">
            <button type="button" style = "
            width: 900px;
            height: 86px;
            margin-bottom:40px;
            background: #EE3F3C;
            box-shadow: 0px 10px 20px rgba(61, 60, 60, 0.2);
            border-radius: 15px;" href=''>
            <a href="/static/GUIDEBOOK UIUX-.pdf" download="GuidebookUIUX-ITFEST">
                <div class="col mt-2" align="center">
                    <img style="width: 50px;
                    height: 50px;
                    left: 389px;
                    margin-bottom:15px;
                    top: 15px;!important;" src="/static/image/prime_file-pdf.png" width="10px">
                    <span style = "
                    width: 470px;
                    height: 34px;
                    font-weight: 500;
                    font-size: 28px;
                    line-height: 70px;
                    color: #F9F5F5;">Guidebook Lomba UI UX</span>
                </div>
            </a>
        </div>
        <div class="row pt-5">
            <span class="mx-auto" style="font-weight: 800;
            font-size: 70px;
            line-height: 100px;
            letter-spacing: 0.05em;
            color:#F1F1F1;
            margin-top:99px">Our Sponsor</span>
        </div>
        <div class="row d-flex justify-content-center">
            <div
            style = "
            width: 600px;
            height: 0p  x;
            margin-top:20px;
            margin-bottom:40px;
            border: 3px solid #F1F1F1;"></div>
        </div>
        <div class ="row">
            <div class="row mx-auto">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators text-dark">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active" aria-current="true" aria-label="First Slide"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1" aria-label="Second Slide"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2" aria-label="Third Slide"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="3" aria-label="Fourth Slide"></li>
              </ol>
            <div class="carousel-inner mx-auto rounded">
        
              <div class="carousel-item active">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block" >
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">PT Infiniti Putera Omega</p>
                  </div>
                  <img src="static/image/sponsor/PT IPO.png"
                    class="card-img-top d-flex align-items-center" alt="First Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://infomega.co.id/" class="text-muted">infomega.co.id</a></p>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="carousel-item">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block">
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">PT Inti Optima Teknologi</p>
                  </div>
                  <img src="static/image/sponsor/PTIOT.png"
                    class="card-img-top d-flex align-items-center" alt="Second Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://iotekno.net/about-us/" class="text-muted">iotekno.net</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block">
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">RM Sederhana</p>
                  </div>
                  <img src="static/image/sponsor/RM.SEDERHANA.png"
                    class="card-img-top d-flex align-items-center" alt="Third Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://g.co/kgs/BBjg84" class="text-muted">Google Maps</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block">
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">Ayam Goreng Nelongso</p>
                  </div>
                  <img src="static/image/sponsor/AyamNelongso.png"
                    class="card-img-top d-flex align-items-center" alt="Third Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://www.instagram.com/ayamnelongso/" class="text-muted">Instagram</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
              <a class="carousel-control-prev text-dark" role="button" data-target="#carouselExampleIndicators"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-dark" role="button" data-target="#carouselExampleIndicators"
                data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          </div>
        <div class="row" style="margin-bottom:100px">
        </div>
    </div>
</div>
<hr/ style="display:none;">