<div id="MediaPartner" class=".banner5">
    <div class="col">
        <div class="row">
            <span class="mx-auto" style="font-weight: 800;
            font-size: 70px;
            line-height: 100px;
            letter-spacing: 0.05em;
            color:#2E2B2B;
            margin-top:40px">Our Media Partner</span>
        </div>
        <div class="row d-flex justify-content-center">
            <div
            style = "
            width: 750px;
            height: 0px;
            margin-top:20px;
            margin-bottom:40px;
            border: 3px solid #2E2B2B;">
            </div>
        </div>
        <div class ="row">
            <div class="row mx-auto">
            <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators text-dark">
                <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active" aria-current="true" aria-label="First Slide"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="1" aria-label="Second Slide"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="2" aria-label="Third Slide"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="3" aria-label="Fourth Slide"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="4" aria-label="Fifth Slide"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="5" aria-label="Sixth Slide"></li>
                <li data-target="#carouselExampleIndicators2" data-slide-to="6" aria-label="Seventh Slide"></li>
              </ol>
            <div class="carousel-inner mx-auto rounded">
        
              <div class="carousel-item active">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block" >
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">BCC</p>
                  </div>
                  <img src="static/image/Medpar/BCC Logo.png"
                    class="card-img-top d-flex align-items-center" alt="First Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://www.instagram.com/bccfilkom/" class="text-muted">@bccfilkom</a></p>
                    </div>
                  </div>
                </div>
              </div>
          
              <div class="carousel-item">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block">
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">DevGirls</p>
                  </div>
                  <img src="static/image/Medpar/DevGirls Logo.png"
                    class="card-img-top d-flex align-items-center" alt="Second Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://www.instagram.com/devgirls.filkom/" class="text-muted">@devgirls.filkom</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block">
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">HMDTIF</p>
                  </div>
                  <img src="static/image/Medpar/HMDTIF Logo.png"
                    class="card-img-top d-flex align-items-center" alt="Third Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://www.instagram.com/hmdtif.filkomub/" class="text-muted">@hmdtif.filkomub</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block">
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">LPM DIsplay</p>
                  </div>
                  <img src="static/image/Medpar/LPMDISPLAY.png"
                    class="card-img-top d-flex align-items-center" alt="Fourth Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://www.instagram.com/displayfilkom/" class="text-muted">@displayfilkom</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block">
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">Raion Community</p>
                  </div>
                  <img src="static/image/Medpar/Raion.png"
                    class="card-img-top d-flex align-items-center" alt="Fifth Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://www.instagram.com/raion_community/" class="text-muted">@raion_community</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block">
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">OPTIIK</p>
                  </div>
                  <img src="static/image/Medpar/OPTIIK.png"
                    class="card-img-top d-flex align-items-center" alt="Sixth Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://www.instagram.com/optiik_ub/" class="text-muted">@optiik_ub</a></p>
                    </div>
                  </div>
                </div>
              </div>

              <div class="carousel-item">
                <div class="card align-items-center d-flex shadow-lg p-3 mb-5 mr-5 ml-5 bg-body rounded d-block">
                  <div class="d-flex justify-content-between p-3">
                    <p class="lead mb-0">K-RISMA</p>
                  </div>
                  <img src="static/image/Medpar/K-RISMA.png"
                    class="card-img-top d-flex align-items-center" alt="Seventh Slide" />
                  <div class="card-body">
                    <div class="d-flex justify-content-between">
                      <p class="small mx-auto"><a href="https://www.instagram.com/krismafilkomub/" class="text-muted">@krismafilkomub</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          
              <a class="carousel-control-prev text-dark" role="button" data-target="#carouselExampleIndicators2"
                data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
              </a>
              <a class="carousel-control-next text-dark" role="button" data-target="#carouselExampleIndicators2"
                data-slide="next">
                <span class="carousel-control-next-icon dark" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
              </a>
            </div>
          </div>
          </div>
    </div>
</div>
