<div class="banner" style="background: linear-gradient(90deg, #FF55AB -16.41%, rgba(255, 5, 0, 0.7) 52.4%, rgba(255, 113, 1, 0.7) 117.04%);box-shadow: 0px 10px 20px rgba(24, 22, 22, 0.15);">
    <div class="row" style="width:100%; max-width:2025px; min-width:1096x.53px;">
        <div class="col col-sm-1">
        </div>
        <div class="col col-md-6">
            <div class="row" style="padding-top: 90px">
                <div class="col">
                    <span class="text-light" style="
                    font-family: 'Inter';
                    font-style: normal;
                    font-weight: 400;
                    font-size: 30px;
                    line-height: 36px;
                    color: #FFFFFF;   
                    text-shadow: 0px 4px 11px rgba(0, 0, 0, 0.6);">Inovasi TIK untuk pemberdayaan <br/>
                    pembangunan berkelanjutan</span>
                </div>
            </div>
            <div class="row"  style="padding-top: 16px;">
                <div class="col">
                    <span class="text-light" style="
                        height: 68px;
                        left: 175px;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 800;
                        font-size: 96px;
                        line-height: 116px;
                        color: #B3D1FF;
                        text-shadow: 0px 4px 11px rgba(0, 0, 0, 0.6);">IT FEST 2023
                    </span>
                </div>
            </div>
            <div class="row"  style="padding-top: 27px;margin-top:53px;box-sizing: border-box;
                padding-bottom: 27px;              
                background: url(.png), linear-gradient(124.97deg, rgba(255, 252, 252, 0.4) 1.63%, rgba(217, 217, 217, 0.05) 100%);
                background-blend-mode: overlay, normal;
                opacity: 1;
                box-shadow: 0px 40px 80px rgba(87, 87, 87, 0.15), inset -10px -10px 15px rgba(0, 0, 0, 0.05), inset 10px 10px 15px rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(15px);
                border-radius: 25px;">
                <div class="col col-md-3">
                    <a data-toggle="modal" data-target="#pdfview" class="btn text-light" style="background: #EE3F3C; border-radius: 15px; width:100% font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;">Lihat Panduan
                    </a>
                </div>
                <div class="col col-md-9">
                    <span class="text-light pl-1" style="
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 27px;
                        color: #F9F5F5;">Lihat Panduannya dan kamu akan siap mengikuti IT Fest 2023!!
                    </span>
                </div>
            </div>
            {% if user.is_authenticated %}

            <div class="row"  style="padding-top: 27px;margin-top:32px;box-sizing: border-box;padding-bottom: 27px;
                background: url(.png), linear-gradient(124.97deg, rgba(255, 252, 252, 0.4) 1.63%, rgba(217, 217, 217, 0.05) 100%);
                background-blend-mode: overlay, normal;
                opacity: 1;
                box-shadow: 0px 40px 80px rgba(87, 87, 87, 0.15), inset -10px -10px 15px rgba(0, 0, 0, 0.05), inset 10px 10px 15px rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(15px);
                border-radius: 25px;">
                <div class="col col-md-3">
                    <a href="https://forms.gle/VnvNJm2ZBgQNSjMNA" target="blank" class="btn text-light" style="background: #EE3F3C; border-radius: 15px; width:100% font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;">Daftar Ide Bisnis
                    </a>
                </div>
                <div class="col col-md-9">
                    <span class="text-light pl-1" style="
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 27px;
                        color: #F9F5F5;">Ayo Daftarkan Ide Bisnismu di sini!!!
                    </span>
                </div>
            </div>
            <div class="row"  style="padding-top: 27px;margin-top:32px;box-sizing: border-box;padding-bottom: 27px;
                background: url(.png), linear-gradient(124.97deg, rgba(255, 252, 252, 0.4) 1.63%, rgba(217, 217, 217, 0.05) 100%);
                background-blend-mode: overlay, normal;
                opacity: 1;
                box-shadow: 0px 40px 80px rgba(87, 87, 87, 0.15), inset -10px -10px 15px rgba(0, 0, 0, 0.05), inset 10px 10px 15px rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(15px);
                border-radius: 25px;">
                <div class="col col-md-3">
                    <a href="https://forms.gle/xJQhko7EgAkUBphM8" target="blank" class="btn text-light" style="background: #EE3F3C; border-radius: 15px; width:100% font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;">Daftar UI/UX
                    </a>
                </div>
                <div class="col col-md-9">
                    <span class="text-light" style="
                        padding-left:0.25rem !important!;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 27px;
                        color: #F9F5F5;">Ayo Daftarkan UI/UX-mu di sini!!!
                    </span>
                </div>
            </div>
            {% else %} 
            <div class="row"  style="padding-top: 27px;margin-top:32px;box-sizing: border-box;padding-bottom: 27px;
                background: url(.png), linear-gradient(124.97deg, rgba(255, 252, 252, 0.4) 1.63%, rgba(217, 217, 217, 0.05) 100%);
                background-blend-mode: overlay, normal;
                opacity: 1;
                box-shadow: 0px 40px 80px rgba(87, 87, 87, 0.15), inset -10px -10px 15px rgba(0, 0, 0, 0.05), inset 10px 10px 15px rgba(255, 255, 255, 0.2);
                backdrop-filter: blur(15px);
                border-radius: 25px;">
                <div class="col col-md-3">
                    <a href="/user/register" class="btn text-light" style="background: #EE3F3C; border-radius: 15px; width:100% font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;">Daftar Tim
                    </a>
                </div>
                <div class="col col-md-9">
                    <span class="text-light" style="
                        padding-left:0.25rem !important!;
                        font-family: 'Inter';
                        font-style: normal;
                        font-weight: 400;
                        font-size: 22px;
                        line-height: 27px;
                        color: #F9F5F5;">Ayo Daftarkan Kelompokmu Di sini!!!
                    </span>
                </div>
            </div>
            {% endif %}

        </div>
        <div class="col col-md-5 mx-auto" style="max-width:430px; float:right">
            <img src="/static/image/layer.png" style="width:100%;float:right;padding-top: 90px;right:-20px; margin-bottom:10px;">
            <button type="button" class="text-light btn mt-1" style="background: url(.png), linear-gradient(124.97deg, rgba(255, 252, 252, 0.4) 1.63%, rgba(217, 217, 217, 0.05) 100%);
            background-blend-mode: overlay, normal;opacity: 1;height:90px; border-radius: 25px; width:80%;
            box-shadow: 0px 40px 80px rgba(87, 87, 87, 0.15), inset -10px -10px 15px rgba(0, 0, 0, 0.05), inset 10px 10px 15px rgba(255, 255, 255, 0.2);
            float:right;margin-top:-110px;font-weight: 500;font-size: 22px;line-height: 27px;text-align: center;margin-right:-7px; margin-left:30px">In Innovation We Trust</button>
        </div>
    </div>
</div>
