<footer id="footer" class="w-100 py-4 flex-shrink-0" style="padding-left:34px;padding-top:145px;background: #2E2B2B;">
    <div class="container-fluid py-4">
        <div class="row gy-4 gx-5">
            <div class="col-lg-5 col-md-6">
                <img src="/static/image/footerlogo.png" style="width:100%">
            </div>
            <div class="col-lg-4 col-md-6">
                <span class="mb-3" style="font-weight: 500;
                font-size: 35px;
                line-height: 42px;
                color: #FF7101;">Our Social Media</span>
                <ul class="list-unstyled text-muted">
                    <li><span class="text-light"><i class="bi bi-instagram"></i>&nbsp;Instagram: <a class="btn text-light" href="https://instagram.com/itfest.filkom" target="_blank">@itfest.filkom</a></span></li>
                    <li><span class="text-light"><i class="bi bi-tiktok"></i>&nbsp;Tiktok: <a class="btn text-light" href="https://www.tiktok.com/@itfest_filkom" target="_blank">@itfest.filkom</a></span></li>
                    <li><span class="text-light"><i class="bi bi-envelope"></i>&nbsp;Email: <a class="btn text-light" href="mailto:itfess2023@gmail.com" target="_blank">itfess2023@gmail.com</a></span></li>
                </ul>
            </div>
            <div class="col-lg-3 col-md-6">
                <span class="mb-3" style="font-weight: 500;
                font-size: 35px;
                line-height: 42px;
                color: #FF7101;">Contact Person</span>
                <ul class="list-unstyled text-muted">
                    <li><span class="text-light"><i class="bi bi-whatsapp"></i> Humas: <a class="btn text-light" href="https://wa.me/62085883219085" target="_blank">(085883219085)</a></span></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col text-center" style="border: 0;
            border-top: 1px solid rgba(255, 255, 255, 1);margin-top:95px;padding-top:57px">
                <span class="text-light">(C) Copyright 2023, Muhammad Azka Ayubi, Anindya Candrakanti Y., Departemen Keilmuan dan Pengajaran KBMDSI FILKOM UB 2023</span>
            </div>
        </div>
    </div>
</footer>