<div class=".jadwal" id="jadwal">
    <div class="col">
        <div class="row">
            <span class="mx-auto" style="font-weight: 800;
            font-size: 70px;
            line-height: 100px;
            letter-spacing: 0.05em;
            color:#2E2B2B;
            margin-top:64px">Our Timeline</span>
        </div>
        <div class="row d-flex justify-content-center">
            <div
            style = "
            width: 600px;
            height: 0p  x;
            margin-top:20px;
            margin-bottom:10px;
            border: 3px solid #2E2B2B;"></div>
        </div>
    </div>
    <div class="row mx-auto">
        <div class="col text-center mx-5 mt-5 mb-5"  style="border-radius: 25px;background: linear-gradient(90deg, #FF55AB -16.41%, rgba(255, 5, 0, 0.7) 52.4%, rgba(255, 113, 1, 0.7) 117.04%);box-shadow: 0px 10px 20px rgba(24, 22, 22, 0.15);">
            <img src="static/image/Timeline.png" width="70%">
        </div>
    </div>  
</div>
</hr>