<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between" style="height:124px;background-color: #FFFFFF;">
    <span class="navbar-brand mb-0 h1"><img src="/static/image/logo.png" style="width: 101px;height: 101px;margin-left: 43px;top: 9px;" alt="Gambar" class="bulat"></span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#kategori" style="font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;padding-left:42px">Kategori Lomba</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#jadwal" style="font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;padding-left:40px">Jadwal</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#update" style="font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;padding-left:40px">Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#footer" style="font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;padding-left:40px">Kontak Kami</a>
          </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="/user/login" class="btn btn-outline-success my-2  mx-sm-2  my-sm-0" style="font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;border: 1px solid #000000;
            border-radius: 13px;color: #000000;" type="button">Log in</a>
            <a href="/user/register" class="btn btn-success my-2 text-light mx-sm-2 my-sm-0" style="font-weight: 600;font-size: 20px;line-height: 24px;text-align: center;background: #FF0400;
            border-radius: 13px;" type="button">Daftar Gratis</a>
        </form>
      </div>
</nav>


